/* Write your CSS code here */
.about-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
